{% import 'helpers/macros.html.twig' as macros %}
{% extends 'styleguide/templates/section.html.twig' %}

{% block id %}Colors{% endblock %}
{% block title %}Colors{% endblock %}
{% block description %}
    <ul>
        <li><span class="styleguide__highlight url">/app/Resources/assets/scss/atoms/_colors.scss</span></li>
    </ul>
{% endblock %}

{% set colors = {} %}

{% block codeLanguage %}scss{% endblock %}
{%- block code -%}
<ul>
    {% for key, color in colors %}
        {% set value = color|first == '#' ? color : colors[color[1:]] %}
        <li class="colors__item">
            <span class="colors__pigment {% if value == '#fff' %}colors__pigment--white{% endif %}" style="background:{{ value }};"></span><span><b>{{ key }}</b>: {{ value }}</span>
        </li>
    {% endfor %}
</ul>
{%- endblock -%}
