{% import 'helpers/macros.html.twig' as macros %}
{% extends 'styleguide/templates/section.html.twig' %}

{% block id %}Paragraphs{% endblock %}
{% block title %}Paragraphs{% endblock %}
{% block description %}{% endblock %}

{%- block code -%}
<p>Si pensamos en las arterias coronarias como si fueran un sistema de tuberías, su progresiva obstrucción provoca que el líquido, en este caso la sangre, no llegue de forma correcta a las diferentes zonas del corazón.</p>
<p class="p-small">p-small - Si pensamos en las arterias coronarias como si fueran un sistema de tuberías, su progresiva obstrucción provoca que el líquido, en este caso la sangre, no llegue de forma correcta a las diferentes zonas del corazón.</p>
<p class="p-big">p-big - Si pensamos en las arterias coronarias como si fueran un sistema de tuberías, su progresiva obstrucción provoca que el líquido, en este caso la sangre, no llegue de forma correcta a las diferentes zonas del corazón.</p>
{%- endblock -%}
