@mixin flex-center($breakpoints:[], $base: true) {
    @if $base {
        .u-flex--center {
            align-items: center;
            justify-content: center;
        }
    }

    @each $breakpoint in $breakpoints {
        $namespace: strip-unit($breakpoint);

        @include breakpoint($breakpoint) {
            .u-flex--s#{$namespace}-center {
                align-items: center;
                justify-content: center;
            }
        }
    }
}
