// TODO: Revisar uso de ems, unificar namings

/* https://gist.github.com/italodr/b4ded5894afa2ceae19ed1b767785e02 */
$mq-iPadRetina: "and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)";

@function breakpoint-generator($type, $size1, $size2: '', $orientation: '') {
    @if $orientation != '' {
        $orientation: " and (orientation: #{$orientation})";
    }

    $mq: '';

    @if $type == 'min' {
        $mq: "and (min-width: #{nth($size1, 1)})";
    }

    @else if $type == 'max' {
        $mq: "and (max-width: #{(nth($size1, 1) - 1px)})";
    }

    @else if $type == 'between' {
        $mq: "and (min-width: #{nth($size1, 1)}) and (max-width: #{(nth($size2, 1) - 1px)})";
    }

    @else if $type == 'devices' {
        $mq: $size1;
    }

    @else {
        @error "Unexistent type of breakpoint.";
    }

    @return #{screen} #{$mq}#{$orientation};
}

@mixin breakpoint-devices($mq, $orientation: '') {
    $media: breakpoint-generator('devices', $mq, '', $orientation);

    @media #{$media} {
        @content;
    }
}

@mixin breakpoint-max($range, $orientation: '') {
    $media: breakpoint-generator('max', $range, '', $orientation);

    @media #{$media} {
        @content;
    }
}

@mixin breakpoint-minmax($range_min, $range_max, $orientation: '') {
    $media: breakpoint-generator('between', $range_min, $range_max, $orientation);

    @media #{$media} {
        @content;
    }
}

@mixin breakpoint($range, $orientation: '') {
    $media: breakpoint-generator('min', $range, '', $orientation);

    @media #{$media} {
        @content;
    }
}

@mixin breakpoint-maxwidth($width: $global-max-width) {
    @media screen and (min-width: $width + get-pxs(space(2) * 2)) {
        @content;
    }
}
