<ul class="skip-links">
    <li><a href="#main" class="skip-links__link">{{ 'a11y.skip_to.main'|trans }}</a></li>
    <li><a href="#footer" class="skip-links__link">{{ 'a11y.skip_to.footer'|trans }}</a></li>
</ul>
