{% if object.publish %}
    <a href="{{ path('runroom.basic_page.route.show', {'slug': object.slug}) }}" class="btn btn-sm btn-outline-secondary" target="_blank">
        <i class="fa fa-sm fa-external-link"></i> Open
    </a>
{% endif %}
