$button-bg: #000;
$button-color-disabled: #5a5959;
$button-padding: space(.5) space(2);

button,
[role="button"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
    appearance: none;
    background-color: $button-bg;
    border: 0;
    color: $c-white;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: space();
    padding: $button-padding;
    text-align: center;
    vertical-align: top;
    width: 100%;

    * { pointer-events: none; }

    &:disabled {
        color: $button-color-disabled;
        cursor: default;
    }

    @include breakpoint($s480) { width: auto; }
}
