/* Typography */
$t-default: 'Open Sans', sans-serif;
$t-complementary: $t-default;

*, *:before, *:after {
    -webkit-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    outline: 0;
}

html {
    font-family: $t-default;
    font-size: $base-font-size;
    font-weight: 400;
    line-height: $base-line-height;
}

/* Headings */
h1, .t-h1,
h2, .t-h2,
h3, .t-h3,
h4, .t-h4,
h5, .t-h5,
h6, .t-h6 {
    font-family: $t-complementary;
    font-weight: 700;
    margin: 0 0 $base-line-height;
}

h1, .t-h1 { @include fluid-type(36px, 105px); }
h2, .t-h2 { @include fluid-type(28px, 63px); }
h3, .t-h3 { @include fluid-type(24px, 42px); }
h4, .t-h4 { @include fluid-type(20px, 31px); }
h5, .t-h5 { @include fluid-type($global-min-font, $global-max-font); }
h6, .t-h6 { @include fluid-type(14px, 18px); }

b, strong { font-weight: 700; }
.italic { font-style: italic; }

p {
    @include fluid-type($global-min-font, $global-max-font);
    margin: 0 0 space();
}
