/* Variables */
$global-max-width: 1440px;

/* Typography & Vertical Rhythym */
$global-min-font: 16px;
$global-max-font: 21px;
$base-font-size: 1rem;
$base-line-height-strip: 1.25;
$base-line-height: $base-line-height-strip * $base-font-size;
$total-columns: 12;

$type-settings: (
    -1: (
        font-size: $base-font-size * .86,
        line-height: ($base-font-size * .86) * $base-line-height-strip
    ),
    0: (
        font-size: $base-font-size,
        line-height: ($base-font-size) * $base-line-height-strip
    ),
    1: (
        font-size: $base-font-size * 1.25,
        line-height: ($base-font-size * 1.25) * $base-line-height-strip
    ),
    2: (
        font-size: $base-font-size * 1.5,
        line-height: ($base-font-size * 1.5) * $base-line-height-strip
    ),
    3: (
        font-size: $base-font-size * 1.75,
        line-height: ($base-font-size * 1.75) * $base-line-height-strip
    ),
    4: (
        font-size: $base-font-size * 2.25,
        line-height: ($base-font-size * 2.25) * $base-line-height-strip
    )
);

$c-white: #fff;
$c-black: #000;

$c-light: #999;
$c-lighter: #d5d5d5;
$c-lightest: #f5f5f5;

$c-dark: #333;
$c-darker: #222;
$c-darkest: #111;

$c-main: #ff183b;
$c-red-dark: #771e21;
$c-border: #e5e5e5;
$c-border-red: #bd2731;

$t-default: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$t-default-regular: 300;
$t-default-bold: 700;

/* Media Queries */
$s0: (0, 479px);
$s480: (480px, 639px);
$s640: (640px, 767px);
$s768: (768px, 959px);
$s960: (960px, 1023px);
$s1024: (1024px, 1199px);
$s1200: (1200px, 1439px);
$s1440: (1440px, 1919px);
$s1920: (1920px, 0);

$breakpoints: (
    (xxs, $s0),
    (xs, $s480),
    (sm, $s640),
    (md, $s768),
    (lg, $s960),
    (xl, $s1024),
    (xxl, $s1200),
    (sxl, $s1440),
    (sxxl, $s1920)
);

$screen: "only screen" !default;
$retina: (
    "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
    "#{$screen} and (min--moz-device-pixel-ratio: 2)",
    "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
    "#{$screen} and (min-device-pixel-ratio: 2)",
    "#{$screen} and (min-resolution: 192dpi)",
    "#{$screen} and (min-resolution: 2dppx)"
);

@mixin breakpoint($range, $orientation: '', $only: false) {
    @if $orientation != '' {
        $orientation: "and (orientation: #{$orientation})";
    }

    /* stylelint-disable */
    @if $only == true {
        @media #{$screen} and (min-width: #{nth($range, 1)}) and (max-width: #{nth($range, 2)}) #{$orientation} {
            @content;
        }
    }

    @else {
        @media #{$screen} and (min-width: #{nth($range, 1)}) #{$orientation} {
            @content;
        }
    }
    /* stylelint-enable */
}
