{% if object.publish %}
    <a href="{{ path('runroom.static_page.route.static', {'slug': object.slug}) }}" class="btn btn-sm btn-default" target="_blank">
        <i class="fa fa-external-link"></i> {{ 'Open'|trans }}
    </a>
{% endif %}
