.cookies {
    &__subtitle {
        margin-bottom: space(.5);

        @include breakpoint($s768) {
            margin-bottom: space();
        }
    }

    &__section {
        margin-bottom: space(2);

        @include breakpoint($s768) {
            margin-bottom: space(3.5);
        }
    }

    &__header {
        border-bottom: 1px solid $c-neutroLighter;
        margin-bottom: space();
        padding-bottom: space();

        @include breakpoint($s768) {
            display: flex;
            justify-content: space-between;
            margin-bottom: space(2);
            padding-bottom: 0;
        }
    }
}
