fos_ck_editor:
    base_path: build/ckeditor
    js_path: build/ckeditor/ckeditor.js
    input_sync: true
    default_config: default
    configs:
        default:
            entities: false
            toolbar:
                - [Undo, Redo]
                - [Bold, Italic, -, RemoveFormat]
                - [Link, Unlink]
                - [NumberedList, BulletedList, Blockquote]
                - [Image]
                - [Maximize]
                - [Source]
            filebrowserUploadMethod: form
            filebrowserBrowseRoute: admin_app_media_ckeditor_browser
            filebrowserBrowseRouteParameters:
                provider: sonata.media.provider.file
            filebrowserUploadRoute: admin_app_media_ckeditor_upload
            filebrowserUploadRouteParameters:
                provider: sonata.media.provider.file
                context: default
            filebrowserImageBrowseRoute: admin_app_media_ckeditor_browser
            filebrowserImageBrowseRouteParameters:
                provider: sonata.media.provider.image
            filebrowserImageUploadRoute: admin_app_media_ckeditor_upload
            filebrowserImageUploadRouteParameters:
                provider: sonata.media.provider.image
                context: default
