sonata_media:
    class:
        media: App\Entity\Media
        gallery: App\Entity\Gallery
        gallery_item: App\Entity\GalleryItem
    default_context: default
    db_driver: doctrine_orm
    providers:
        file:
            allowed_extensions: [jpg, png, jpeg, pdf, ogv, mp4, webm]
            allowed_mime_types:
                - image/pjpeg
                - image/jpeg
                - image/png
                - image/x-png
                - application/pdf
                - application/x-pdf
                - application/ogg
                - video/mp4
                - video/webm
    contexts:
        default:
            providers:
                - sonata.media.provider.image
                - sonata.media.provider.file
                - sonata.media.provider.youtube
            formats: null
    cdn: null
    filesystem:
        local:
            directory: '%kernel.project_dir%/public/uploads/media'
            create: true
