{
  "extends": ["stylelint-config-standard-scss"],
  "rules": {
    "indentation": 4,
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["first-nested", "blockless-after-same-name-blockless"],
        "ignore": ["after-comment", "inside-block"]
      }
    ],
    "at-rule-no-unknown": null,
    "block-closing-brace-newline-after": [
      "always",
      {
        "ignoreAtRules": [
          "extend",
          "content",
          "if",
          "else",
          "elseif",
          "each",
          "for",
          "error",
          "mixin",
          "function",
          "return",
          "include"
        ]
      }
    ],
    "color-hex-case": ["lower", { "severity": "warning" }],
    "no-descending-specificity": null,
    "number-leading-zero": "never",
    "selector-class-pattern": false,
    "selector-list-comma-newline-after": null,
    "no-missing-end-of-source-newline": false,
    "string-quotes": false,
    "max-line-length": false,
    "color-function-notation": false,
    "hue-degree-notation": false,
    "alpha-value-notation": false,
    "selector-attribute-quotes": false,
    "font-family-name-quotes": false,
    "function-url-quotes": false,
    "no-invalid-position-at-import-rule": false,
    "rule-empty-line-before": false,
    "selector-no-vendor-prefix": false,
    "property-no-vendor-prefix": false,
    "value-keyword-case": false,
    "scss/at-rule-no-unknown": true,
    "scss/no-global-function-names": false,
    "scss/dollar-variable-pattern": false,
    "scss/at-if-closing-brace-newline-after": false,
    "scss/at-if-closing-brace-space-after": false,
    "scss/at-else-closing-brace-newline-after": false,
    "scss/at-else-closing-brace-space-after": false,
    "scss/at-import-partial-extension": false,
    "scss/at-else-empty-line-before": false,
    "scss/dollar-variable-empty-line-before": false,
    "scss/at-mixin-pattern": false,
    "scss/operator-no-unspaced": false
  }
}
