includes:
    - vendor/knplabs/doctrine-behaviors/phpstan-extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 8
    paths:
        - src
        - migrations
        - tests
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    # We disable this on purpose here, for now we are not defining types for array
    checkMissingIterableValueType: false
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true
