includes:
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
    - vendor/knplabs/doctrine-behaviors/phpstan-extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    ignoreErrors:
        - '#Call to an undefined method Runroom\\RenderEventBundle\\ViewModel\\PageViewModelInterface::.#'
    inferPrivatePropertyTypeFromConstructor: true
