@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function get-relative-value($size, $ratio: $min-font-size) {
    @if unit($size) == 'px' {
        @return (strip-unit($size) / strip-unit($ratio));
    }

    @else {
        @return strip-unit($size);
    }
}

@function get-rems($size) {
    @return get-relative-value($size) * 1rem;
}

@function get-maxrems($size) {
    @return get-relative-value($size, $max-font-size) * 1rem;
}

@function get-ems($size) {
    @return get-relative-value($size) * 1em;
}

@function get-pxs($size) {
    @if unit($size) != 'px' {
        @return round(strip-unit($size) * strip-unit($min-font-size)) * 1px;
    }

    @else {
        @return $size;
    }
}

@function space($times: 1) {
    @return $vertical-rhythm * $times;
}

@function ms($exponent, $ratio: $msBase) {
    $value: 1;

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $ratio;
        }
    } @else if $exponent < 0 {
        @for $i from 1 through -$exponent {
            $value: $value / $ratio;
        }
    }

    @return $value * 1rem;
}
