@import './helpers/clear-form';
@import './helpers/columns';
@import './helpers/flex-advanced';
@import './helpers/flex-basic';
@import './helpers/flex-center';
@import './helpers/flex-grid';
@import './helpers/flex-inline';
@import './helpers/flex-wrap';
@import './helpers/media-queries';
@import './helpers/scroll';
@import './helpers/typography';
@import './helpers/video-responsive';
@import './helpers/visibility';
@import './helpers/wrapper';

@mixin square($size) {
    height: $size;
    width: $size;
}

@mixin placeholder() {
    &::-webkit-input-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
}

@mixin get-ratio($o-width, $o-height, $width: 0, $height: 0) {
    $h: strip-unit(get-pxs($height));
    $w: strip-unit(get-pxs($width));

    @if $w > 0 {
        height: ceil(($w / $o-width) * $o-height) * 1px;
        width: $w * 1px;
    }

    @else {
        height: $h * 1px;
        width: ceil(($h / $o-height) * $o-width) * 1px;
    }
}

@mixin hover {
    &:hover {
        .non-touch & {
            @content;
        }
    }
}
