name: deployment

on: [deployment]

jobs:
  deployment:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.0']
    env:
      DEPLOYER_USER: ${{ secrets.DEPLOYER_USER }}
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
      - uses: webfactory/ssh-agent@v0.2.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - uses: ramsey/composer-install@v1
      - run: ssh-keyscan ${{ github.event.deployment.payload.url }} >> ~/.ssh/known_hosts
      - run: vendor/bin/dep deploy ${{ github.event.deployment.environment }}
