$c-white: #fff;
$c-black: #000;

$c-neutro900: #181818;
$c-neutro800: #242424;
$c-neutro700: #313131;
$c-neutro600: #3e3e3e;
$c-neutro500: #575757;
$c-neutro400: #717171;
$c-neutro300: #979797;
$c-neutro200: #bdbdbd;
$c-neutro100: #f0f0f0;

$c-primary600: #000;
$c-primary500: #191919;

$c-secondary600: #091e3b;
$c-secondary500: #0d2c54;

$c-complementary600: #124e21;
$c-complementary500: #167e4a;

$c-error: $c-primary600;
