/* Typography */
html, body {
    color: $c-neutroDarkest;
    font-family: $t-fallback;
    font-size: $base-font-size;
    font-weight: 400;
    line-height: $base-line-height;

    .fonts-loaded & { font-family: $t-default; }
}

/* Headings */
h1 {
    @extend %h1;

    line-height: 1;
}

h2 {
    @extend %h2;

    line-height: 1.2;
}

h3 { @extend %h3; }
h4 { @extend %h4; }

h3, h4 { line-height: 1.5; }

h1, h2, h3, h4 {
    font-family: $t-fallbackSecondary;
    font-weight: 700;
    margin: 0 0 space();

    .fonts-loaded & { font-family: $t-secondary; }
}

b, strong { font-weight: 700; }
i, em { font-style: italic; }

p {
    @include fluid-type(16px, 18px);

    margin: 0 0 space();
}

a {
    color: $c-primary;
    cursor: pointer;
    text-decoration: none;
}
