$form-padding: .25rem !default;
$form-margin: .25rem !default;
$form-background: $c-white !default;
$form-background--disabled: $c-neutroLight !default;
$form-shadow: inset 0 0 0 transparent !default;
$form-radius: 0 !default;
$form-border: 1px solid $c-neutro !default;
$form-border--active: $c-complementary !default;
$form-input-height: 2rem !default;
