/* Media Queries */
$s0: 0;
$s480: 480px;
$s640: 640px;
$s768: 768px;
$s960: 960px;
$s1024: 1024px;
$s1280: 1280px;
$s1440: 1440px;
$s1920: 1920px;

$breakpoints: (
    (s0, $s0),
    (s480, $s480),
    (s640, $s640),
    (s768, $s768),
    (s960, $s960),
    (s1024, $s1024),
    (s1280, $s1280),
    (s1440, $s1440),
    (s1920, $s1920)
);
