/**
 * Media Queries
 * Recommended breakpoints: 480, 768, 960, 1024
 * Other common breakpoints: 640, 1280, 1440, 1920
 */
$s480: 480px;
$s768: 768px;
$s960: 960px;
$s1280: 1280px;

$breakpoints: (
    (s480, $s480),
    (s768, $s768),
    (s960, $s960),
    (s1280, $s1280)
);
