{% extends 'layouts/default.html.twig' %}

{% block crp %}
    {% include 'helpers/inline-crp.html.twig' with { crp: 'crp.demo' } %}
{% endblock %}

{% block content %}
    <div class="demo">
        <section id="form-ajax" class="u-wrapper">
            <h1>Ajax Form</h1>
            {% include 'components/form-ajax.html.twig' %}
        </section>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'form/validation.html.twig' %}
{% endblock %}
