{% extends 'base.html.twig' %}

{% block body %}
    <div class="demo">
        <section class="u-wrapper">
            <h1>Take over! See to him!</h1>
            <p>Here is an example of how to
                <a class="js-anchor" data-anchor="#grid">build a grid</a>
            </p>
            <p>We are using overrides in Sass to change some styles defined in the Archetype. You can check them in directory
                <b>"overrides"</b>
            </p>
            <a href="#" class="button">Click me I'm a link</a>
            <button class="button">Click me I'm a button</button>
            <button>Click me I'm a button</button>
        </section>

        <section class="demo__grid u-wrapper u-flex u-flex--wrap">
            <h2 class="u-flex--s480-24">This is a sample of a grid</h2>
            <div class="u-flex--s768-8">
                <p>There she is. See-Threepio, do you copy? For the moment. Uh, we're in the main hangar across from the ship. We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship! Where are you going? Come back!</p>
            </div>
            <div class="u-flex--s768-4">
                <p>Obi-Wan Kenobi...Obi-Wan? Now thats a name I haven't heard in a long time...a long time. I think my uncle knew him. He said he was dead. Oh, he's not dead, not...not yet. You know him!</p>
            </div>
            <div class="u-flex--s768-4">
                <p>Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
            </div>
            <div class="u-flex--s768-4">
                <p>There she is. See-Threepio, do you copy? For the moment. Uh, we're in the main hangar across from the ship. We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship!
                </p>
            </div>
            <div class="u-flex--s768-4">
                <p>We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship!</p>
            </div>
        </section>

        <section class="u-wrapper">
            <h2 style="margin-bottom: 40px;">This is a sample of a grid alignment</h2>
            <div class="u-flex u-flex--wrap u-flex--center" style="margin-bottom: 40px;">
                <div class="u-flex--s960-8" style="margin-right: 20px;">
                    <p>We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship!</p>
                </div>
                <div class="u-flex--s960-8">
                    <img src="/assets/img/background.jpeg">
                </div>
            </div>

            <div class="u-flex--s768 u-flex--wrap u-flex--justify-between">
                <div class="u-flex--s768-6" style="margin-bottom: 40px;">
                    <p>We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship!</p>
                    <img src="/assets/img/background.jpeg">
                </div>
                <div class="u-flex--s768-6" style="margin-bottom: 40px;">
                    <p>We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship!</p>
                    <img src="/assets/img/background.jpeg">
                </div>
                <div class="u-flex--s768-6" style="margin-bottom: 40px;">
                    <p>We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship!</p>
                    <img src="/assets/img/background.jpeg">
                </div>
            </div>

        </section>

        <section class="demo__background">
            <div class="u-wrapper u-flex--s960-8 u-center">
                <h5>Uh...Threepio, hand me those binders there will you? Okay.</h5>
                <p>
                    <strong>The Rebel Alliance is too well equipped.</strong>
                    They're more dangerous than you realize. Dangerous to your starfleet, Commander, not to this battle station! The Rebellion will continue to gain a support in the Imperial Senate as long as.... The Imperial Senate will no longer be of any concern to us. I've just received word that the Emperor has dissolved the council permanently. The last remnants of the Old Republic have been swept away.
                </p>
            </div>
        </section>

        <section class="u-wrapper u-wrapper--reading">
            <h2 class="">This is a sample of a reading section</h2>
            <h3>It is base on max-width (960px), not the grid</h3>
            <p>Biggs, Wedge, let's close it up. We're going in. We're going in full throttle. Right with you, boss. Luke, at that speed will you be able to pull out in time? It'll be just like Beggar's Canyon back home. We'll stay back far enough to cover you. My scope shows the tower, but I can't see the exhaust port! Are you sure the computer can hit it? Watch yourself! Increase speed full throttle! What about the tower? You worry about those fighters! I'll worry about the tower! Artoo...that, that stabilizer's broken loose again! See if you can't lock it down! I'm hit! I can't stay with you. Get clear, Wedge. You can't do any more good back there! Sorry!</p>
            <p>The approach will not be easy. You are required to maneuver straight down this trench and skim the surface to this point. The target area is only two meters wide. It's a small thermal exhaust port, right below the main port. The shaft leads directly to the reactor system. A precise hit will start a chain reaction which should destroy the station. Only a precise hit will set up a chain reaction. The shaft is ray-shielded, so you'll have to use proton torpedoes. That's impossible, even for a computer. It's not impossible. I used to bull's-eye womp rats in my T-sixteen back home. They're not much bigger than two meters. Man your ships! And may the Force be with you!</p>
            <p>Rendezvous at mark six point one. This is Red Two. Flying toward you. Red Three, standing by. Red Leader, this is Base One. Keep half your group out of range for the next run. Copy, Base One. Luke, take Red Two and Three. Hold up here and wait for my signal...to start your run. This is it! We should be able to see it by now. Keep your eyes open for those fighters! There's too much interference! Red Five, can you see them from where you are? No sign of any...wait! Coming in point three five. I see them. I'm in range. Target's coming up! Just hold them off for a few seconds.</p>
            <p>Didn't we just leave this party? What kept you? We ran into some old friends. Is the ship all right? Seems okay, if we can get to it. Just hope the old man got the tractor beam out of commission. Look! Come on, Artoo, we're going! Now's our chance! Go! No! Come on! Come on! Luke, its too late! Blast the door! Kid!</p>
            <p>Until this battle station is fully operational we are vulnerable. The Rebel Alliance is too well equipped. They're more dangerous than you realize. Dangerous to your starfleet, Commander, not to this battle station! The Rebellion will continue to gain a support in the Imperial Senate as long as.... The Imperial Senate will no longer be of any concern to us. I've just received word that the Emperor has dissolved the council permanently. The last remnants of the Old Republic have been swept away. That's impossible! How will the Emperor maintain control without the bureaucracy? The regional governors now have direct control over territories. Fear will keep the local systems in line. Fear of this battle station.</p>
        </section>

        <section id="grid" class="demo__grid u-wrapper u-flex u-flex--wrap">
            {% set boxes = [24, 12, 8, 6, 4] %}
            {% for box in boxes %}
                {% set columns = 24 / box %}
                {% for i in 1..columns %}
                    <div class="u-flex--s768-{{ box }} u-flex--center box">
                        <span style="word-break: break-all;">{{ box }}
                            columns</span>
                    </div>
                {% endfor %}
            {% endfor %}
        </section>

        <section id="form" class="u-wrapper">
            <h2 class="u-flex--s480-24">This is a sample of a form</h2>
            {% include 'organisms/form.html.twig' %}
            <a href="{{ path('archetype.demo.route.ajax.form') }}" class="demo__link u-flex u-flex--center">Sample of Ajax Form</a>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'form/validation.html.twig' %}
{% endblock %}
