{% extends 'layouts/default.html.twig' %}

{% block content %}
<div class="wrapper">
    <twig:Stack space="airy">
        <h2>This is a sample of a reading section</h2>
        <twig:Stack space="standard">
            <p>
                Sugar plum chupa chups chocolate liquorice cupcake. Dragée jelly tiramisu chocolate cake gingerbread. Dragée cake shortbread fruitcake gummies chocolate sweet muffin. Lemon drops cake pudding pie sugar plum tart candy oat cake. Powder chocolate cake jelly beans dessert gingerbread dragée. Croissant powder sweet roll chocolate cake jelly beans chupa chups. Tart chupa chups pastry pudding caramels candy canes topping lollipop. Tootsie roll pastry donut ice cream sugar plum caramels. Chocolate cake jujubes shortbread topping candy lollipop fruitcake.
            </p>
            <p>
                Candy pie toffee brownie jelly jujubes. Marshmallow chupa chups pie croissant cheesecake croissant gingerbread chocolate icing. Jelly beans jelly-o jelly-o apple pie chocolate cake cake jelly beans. Chocolate sugar plum brownie tiramisu powder cupcake. Fruitcake macaroon toffee jelly-o caramels tootsie roll. Pie marshmallow gummi bears gummies pudding gummies soufflé. Croissant sesame snaps cake jujubes danish sesame snaps marshmallow cheesecake. Gummies dragée jujubes muffin muffin liquorice. Cookie bonbon cake oat cake jelly beans marshmallow.
            </p>
            <p>
                Marzipan croissant marzipan gingerbread brownie dragée soufflé. Bonbon fruitcake pudding apple pie carrot cake gummi bears chocolate bar gummies toffee. Sweet chupa chups jelly beans bear claw macaroon croissant halvah. Chocolate caramels candy canes biscuit pudding soufflé. Halvah cake pie toffee pie dragée gingerbread. Chupa chups liquorice danish macaroon fruitcake. Wafer tart toffee candy liquorice lollipop. Tart tootsie roll jelly-o jujubes pastry chocolate cake sesame snaps. Gummi bears pudding gingerbread shortbread dessert. Soufflé fruitcake sweet soufflé liquorice chocolate pudding cake.
            </p>
        </twig:Stack>
        <h2>Simple responsive example</h2>
        <twig:Stack direction="row" space="standard" stackColumnsAt="mobile">
            <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="1" style="width: 320px; height: 85px"/>
            <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="2" style="width: 320px; height: 85px"/>
            <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="3" style="width: 320px; height: 85px"/>
        </twig:Stack>
    </twig:Stack>
</div>
{% endblock %}
