{% extends ['layouts/static.html.twig', 'layouts/default.html.twig'] %}

{% block metas %}
    {{ parent() }}
    <meta name="robots" content="noindex,follow" />
{% endblock %}

{% block content %}
    <div class="demo">
        <section class="u-wrapper">
            <h1>{{ model.staticPage.title }}</h1>
            <div>{{ model.staticPage.content|raw }}</div>
        </section>
    </div>
{% endblock %}
