{% extends ['layouts/statics.html.twig', 'layouts/default.html.twig'] %}

{% block content %}
    <h1>{{ model.staticPage.title }}</h1>
    <div>{{ model.staticPage.content|raw }}</div>
{% endblock %}
