{% macro icon(icon_name, icon_class, aria_title) %}{% spaceless %}
    <svg class="{{ icon_class|default('') }} u-icon" {% if aria_title is empty %}aria-hidden="true"{% endif %}>
        {% if aria_title %}
        <title>{{ aria_title }}</title>
        {% endif %}
        <use xlink:href="#icon-{{ icon_name }}" />
    </svg>
{% endspaceless %}{% endmacro %}
