{% set locale = app.request.locale %}
{% set model = page.content %}

<!doctype html>
<html lang="{{ locale }}" class="non-touch">
    <head>
        {% include 'helpers/tagmanager.html.twig' %}
        {% include 'helpers/fonts.html.twig' %}
        {% block metas %}
            {% include 'helpers/metas.html.twig' %}
        {% endblock %}
        {% block headLinks %}
            {% include 'helpers/head-links.html.twig' %}
        {% endblock %}
        {% include 'helpers/favicon.html.twig' %}
        <style type="text/css">
            {% block crp %}
                {% include 'crp/default.min.css' %}
            {% endblock %}
        </style>
    </head>
    <body>
        {% include 'helpers/tagmanager-noscript.html.twig' %}
        {% include 'atoms/skip-links.html.twig' %}
        {% include 'organisms/cookies.html.twig' %}
        {% block header %}
            {% include 'organisms/header.html.twig' %}
        {% endblock %}
        <main id="main">
            {% block body %}{% endblock %}
        </main>
        {% block footer %}
            {% include 'organisms/footer.html.twig' %}
        {% endblock %}
        <link href="{{ asset('assets/css/styles.min.css') }}" rel="stylesheet">
        {% block styles %}{% endblock %}
        {% include 'helpers/cookies.html.twig' %}
        <script src="{{ asset('assets/js/app.min.js') }}" async defer></script>
        {% block scripts %}{% endblock %}
        {% if app.environment == 'dev' %}
            {% include 'development.html.twig' %}
        {% endif %}
    </body>
</html>
