{% import 'helpers/macros.html.twig' as macros %}
{% set locale = app.request.locale %}
<!doctype html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include 'helpers/metas.html.twig' with {
            'title': 'Page title',
            'description': 'Page description',
            'image': '',
        } %}

        {% include 'helpers/favicon.html.twig' %}

        {% block crp %}
            {% include 'crp-styles/default.html.twig' %}
        {% endblock %}
    </head>
    <body>
        <div style="height: 0; width: 0; position: absolute; top: -99999px; visibility: hidden">
            {% include '.tmp/sprites.svg' %}
        </div>

        {% block header %}
            {% include 'organisms/header.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include 'organisms/footer.html.twig' %}
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.min.css') }}" />
        {% block styles %}{% endblock %}
        <script src="{{ asset('assets/js/polyfills.min.js') }}" async></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/app.min.js') }}" async></script>
        {% block scripts %}{% endblock %}

        {% include 'development.html.twig' %}
    </body>
</html>
