{% set locale = app.request.locale %}
{% set model = page.content %}

<!doctype html>
<html lang="{{ locale }}" class="non-touch">
    <head>
        {% include 'helpers/tagmanager.html.twig' %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'helpers/fonts.html.twig' %}
        {% block metas %}
            {% include 'helpers/metas.html.twig' %}
        {% endblock %}
        {% block alternate_links %}
            {% include 'helpers/alternate_links.html.twig' %}
        {% endblock %}
        {% include 'helpers/favicon.html.twig' %}
        {% block crp %}
            {% include 'crp-styles/default.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {% include 'helpers/tagmanager-noscript.html.twig' %}
        <div style="height: 0; width: 0; position: absolute; top: -99999px; visibility: hidden">
            {% include 'svg/sprites.svg' %}
        </div>
        {% include 'organisms/cookies.html.twig' %}
        {% block header %}
            {% include 'organisms/header.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include 'organisms/footer.html.twig' %}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:300,400" rel="stylesheet">
        <link href="{{ asset('assets/css/styles.min.css') }}" rel="stylesheet">
        {% block styles %}{% endblock %}
        <script src="{{ asset('assets/js/app.min.js') }}" async defer></script>
        {% block scripts %}{% endblock %}
        {% if app.environment == 'dev' %}
            {% include 'development.html.twig' %}
        {% endif %}
    </body>
</html>
