{% if app.environment == 'dev' %}
    <div class="dev-Grid-toggle">
        <div class="dev-Grid-toggleActions">
            <span class="title">Toggle v. rhythm &amp; grid</span>
            <label for="dev-vertical-rhythm">
                <input class="js-gridAction" type="checkbox" id="dev-vertical-rhythm" value="vertical-rhythm">
                <svg class="dev-iconRhythm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"> <path d="M47,14H1c-0.553,0-1-0.448-1-1s0.447-1,1-1h46c0.553,0,1,0.448,1,1S47.553,14,47,14z"/> <path d="M47,25H1c-0.553,0-1-0.448-1-1s0.447-1,1-1h46c0.553,0,1,0.448,1,1S47.553,25,47,25z"/> <path d="M47,36H1c-0.553,0-1-0.448-1-1s0.447-1,1-1h46c0.553,0,1,0.448,1,1S47.553,36,47,36z"/> </svg>
            </label>
            <label for="dev-grid">
                <input class="js-gridAction" type="checkbox" id="dev-grid" value="grid">
                <svg class="dev-iconGrid" enable-background="new 0 0 48 48" height="48px" viewBox="0 0 48 48" width="48px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <path d="M13,48c-0.553,0-1-0.448-1-1V1c0-0.552,0.447-1,1-1s1,0.448,1,1v46C14,47.552,13.553,48,13,48z"/> <path d="M24,48c-0.553,0-1-0.448-1-1V1c0-0.552,0.447-1,1-1s1,0.448,1,1v46C25,47.552,24.553,48,24,48z"/> <path d="M35,48c-0.553,0-1-0.448-1-1V1c0-0.552,0.447-1,1-1s1,0.448,1,1v46C36,47.552,35.553,48,35,48z"/> <path d="M47,14H1c-0.553,0-1-0.448-1-1s0.447-1,1-1h46c0.553,0,1,0.448,1,1S47.553,14,47,14z"/> <path d="M47,25H1c-0.553,0-1-0.448-1-1s0.447-1,1-1h46c0.553,0,1,0.448,1,1S47.553,25,47,25z"/> <path d="M47,36H1c-0.553,0-1-0.448-1-1s0.447-1,1-1h46c0.553,0,1,0.448,1,1S47.553,36,47,36z"/> </svg>
            </label>
        </div>
        <div class="dev-Grid-toggleTriggers">
            <a href="#" class="dev-Grid-toggleOpen js-openGridToggle">&plus;</a>
            <a href="#" class="dev-Grid-toggleClose js-closeGridToggle">&times;</a>
        </div>
    </div>
    <div class="dev-Grid-layout">
        <div class="u-wrapper u-flex">
            {% for i in 1..12 %}
                <div class="u-flex--s0-1"></div>
            {% endfor %}
        </div>
    </div>

    <link rel="stylesheet" href="{{ asset('assets/css/development.min.css') }}" />
    <script src="{{ asset('assets/js/development.min.js') }}" async defer></script>
{% endif %}
