.cookies {
    &__subtitle { margin: 0 0 space(); }
    &__section { margin: 0 0 space(2); }

    &__header {
        border-bottom: 1px solid $c-neutro200;
        margin: 0 0 space(1.5);
        padding: 0 0 space();
    }
}
