$min-font-size: 16px;
$max-font-size: 18px;
$max-reading-width: 580px;
$msBase: 1.2 !default; // Minor Third 5:6
$msDesktop: 1.5; // Demo: Perfect Fifth 2:3 -> different ratio for desktop

$t-default: 'Open Sans', Helvetica, Arial, sans-serif;
$t-secondary: 'Lora', Georgia, serif;
