.u-flex {
    display: flex;

    &--inline { display: inline-flex; }
    &--align-center { align-items: center; }
    &--align-start { align-items: flex-start; }
    &--align-end { align-items: flex-end; }
    &--justify-center { justify-content: center; }
    &--justify-start { justify-content: flex-start; }
    &--justify-end { justify-content: flex-end; }
    &--justify-between { justify-content: space-between; }
    &--justify-around { justify-content: space-around; }
    &--reverse { flex-direction: row-reverse; }

    &--column {
        flex-direction: column;

        &.u-flex--reverse { flex-direction: column-reverse; }
    }

    &--wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &--center {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

@function get-column-percentage($column-num) {
    @return $column-num / $grid-columns * 100%;
}

@each $val in $breakpoints {
    $namespace: nth($val, 1);
    $breakpoint: nth($val, 2);

    @include breakpoint($breakpoint) {
        .u-flex--#{$namespace} { display: flex !important; }
        .u-flex--#{$namespace}-inline { display: inline-flex !important; }

        .u-flex--#{$namespace}-center {
            align-items: center;
            display: flex !important;
            justify-content: center;
        }

        .u-flex--#{$namespace}-wrap {
            display: flex !important;
            flex-wrap: wrap;
        }
    }

    @for $i from 1 through $grid-columns {
        .u-flex--#{$namespace}-#{$i} {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
}

@each $val in $breakpoints {
    $namespace: nth($val, 1);
    $breakpoint: nth($val, 2);

    @include breakpoint($breakpoint) {
        @for $i from 1 through $grid-columns {
            .u-flex--#{$namespace}-#{$i} {
                flex-basis: get-column-percentage($i);
                max-width: get-column-percentage($i);
            }
        }
    }
}
