@import 'flex-grid';
@import 'typography';
@import 'scroll';
@import 'text';
@import 'wrapper';
@import 'visibility';
@import 'wysiwyg';

.u-fullwidth { width: 100%; }
.u-video-fullwidth { @include videoFullWidth; }
.u-center { margin: 0 auto; }
.u-no-margin { margin: 0; }
.u-margin-bottom { margin-bottom: space(); }
.u-margin-bottom-m { margin-bottom: space(2); }
.u-margin-bottom-l { margin-bottom: space(3); }

.u-fullheight {
    height: auto;
    min-height: 100%;
}

.u-icon {
    display: inline-block;

    svg {
        display: block;
        fill: currentColor;
        height: get-rems(32px);
        width: get-rems(32px);
    }
}
