@import 'flex-grid';
@import 'scroll';
@import 'text';
@import 'wrapper';
@import 'visibility';

.u-fullwidth { width: 100%; }
.u-video-fullwidth { @include videoFullWidth; }
.u-center { margin: 0 auto; }
.u-no-margin { margin: 0; }

.u-fullheight {
    height: auto;
    min-height: 100%;
}

.u-icon {
    fill: currentColor;
    height: 32px;
    width: 32px;
}
