@import './settings/variables';
@import './tools/functions';
@import './tools/mixins';
@import './generic/globals';
@import './generic/typography';
@import './utilities/utilities';

/* Components */
@import 'components/buttons';

/* Sections */
@import './styleguide/templates/section';
@import './styleguide/sections/colors';
@import './styleguide/sections/intro';
@import './styleguide/sections/grid';

/* Templates */
@import './styleguide/templates/sidebar';

.styleguide {
    margin-left: $sidebarSmall;
    padding: space(2) space(1.5);
    transition: all .3s linear;

    &__highlight { color: #ff8b8b; }
    .url { word-break: break-all; }
    .sidebar { position: static; }
}
