@import 'settings/variables';
@import 'tools/functions';
@import 'tools/mixins';

.dev-grid {
    &__toggle {
        align-items: center;
        background: #444;
        bottom: 36px; // Symfony status bar
        color: #fff;
        display: flex;
        font-family: Arial, sans-serif;
        font-size: 14px;
        height: 36px;
        position: fixed;
        right: 0;
        width: 36px;
        z-index: 9999;
    }

    &__toggle-actions {
        align-items: center;
        display: none;
        justify-content: flex-start;
        margin-right: 36px;
        padding: 0 0 0 10px;

        .title {
            font-weight: bold;
            margin: 0 10px 0 0;
        }

        label {
            align-items: center;
            cursor: pointer;
            display: inline-flex;
            height: 36px;
            justify-content: center;
            position: relative;
            width: 36px;

            &:not(:last-child) { margin: 0 10px 0 0; }

            input {
                cursor: pointer;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;
            }
        }

        .dev-grid__icon-grid,
        .dev-grid__icon-rhythm {
            cursor: pointer;
            height: 24px;
            width: 24px;

            path { fill: #fff; }
        }
    }

    &__toggle-triggers {
        margin-left: auto;

        a {
            color: currentColor;
            text-decoration: none;

            &:hover { color: currentColor; }
        }
    }

    &__toggle--open,
    &__toggle--close {
        @include square(36px);

        align-items: center;
        color: currentColor;
        display: inline-flex;
        font-size: 26px;
        justify-content: center;
    }

    &__toggle--close { display: none; }

    &__toggle.is-open {
        max-width: 100%;
        width: auto;

        .dev-grid__toggle--open { display: none; }
        .dev-grid__toggle-actions { display: flex; }
        .dev-grid__toggle--close { display: inline-flex; }
    }

    &__layout {
        display: none;
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999;

        .grid &,
        .vertical-rhythm & { display: block; }

        .vertical-rhythm & {
            $lines: rgba(#d648db, .5);
            $lines2: rgba(#b2a2cd, .3);

            background-image: linear-gradient(0deg, $lines 2.38%, rgba(#fff, 0) 2.38%, rgba(#fff, 0) 50%, $lines 50%, $lines 52.38%, rgba(#fff, 0) 52.38%, rgba(#fff, 0) 100%);
            top: 0;

            &, &::before {
                background-size: ($vertical-rhythm * 2) ($vertical-rhythm * 2);
                display: block;
                height: 100%;
                left: 0;
                pointer-events: none;
                position: absolute;
                width: 100%;
                z-index: 2;
            }

            &::before {
                background-image: linear-gradient(0deg, $lines2 2.38%, rgba(#fff, 0) 2.38%, rgba(#fff, 0) 50%, $lines2 50%, $lines2 52.38%, rgba(#fff, 0) 52.38%, rgba(#fff, 0) 100%);
                content: '';
                top: ($vertical-rhythm / 2) * -1;
            }
        }

        .u-wrapper {
            > div {
                .grid & {
                    background-clip: content-box;
                    height: 100%;

                    &:nth-child(odd) { background: rgba(0, 170, 255, .1); }
                    &:nth-child(even) { background: rgba(0, 170, 255, .2); }
                }
            }
        }
    }
}
