@import "base/variables";
@import "utils/functions";
@import "utils/mixins";

.dev-Grid-toggle {
    align-items: center;
    background: #444;
    bottom: 36px; // Symfony status bar
    color: #fff;
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 36px;
    position: fixed;
    right: 0;
    width: 36px;
    z-index: 9999;
}

.dev-Grid-toggleActions {
    align-items: center;
    display: none;
    justify-content: flex-start;
    padding: 10px;

    .title {
        font-weight: bold;
        margin: 0 10px 0 0;
    }
    label {
        align-items: center;
        cursor: pointer;
        display: inline-flex;
        height: 36px;
        justify-content: center;
        position: relative;
        width: 36px;

        &:not(:last-child) { margin: 0 10px 0 0; }

        input {
            cursor: pointer;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 2;
        }
    }

    .dev-iconGrid,
    .dev-iconRhythm {
        cursor: pointer;
        height: 24px;
        width: 24px;

        path { fill: #fff; }
    }
}

.dev-Grid-toggleTriggers { margin-left: auto; }

.dev-Grid-toggleOpen,
.dev-Grid-toggleClose {
    @include square(36px);
    align-items: center;
    display: inline-flex;
    font-size: 26px;
    justify-content: center;
}

.dev-Grid-toggleClose { display: none; }

.dev-Grid-toggle.is-open {
    width: 100%;

    .dev-Grid-toggleOpen { display: none; }
    .dev-Grid-toggleActions { display: flex; }
    .dev-Grid-toggleClose { display: inline-flex; }
}

.dev-Grid-layout {
    display: none;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;

    .vertical-rhythm &,
    .grid & { display: block; }

    .vertical-rhythm & {
        background-image: linear-gradient(to bottom, rgba(0, 170, 255, .3) 1px, transparent 1px, transparent ($base-line-height / 2), rgba(0, 170, 255, .2) ($base-line-height / 2), transparent ($base-line-height / 2 + get-rems(1px)), transparent $base-line-height);
        background-position: left top;
        background-repeat: repeat;
        background-size: 100% $base-line-height;
    }

    .grid & {
        .row { height: 100%; }
        .columns {
            background: rgba(0, 170, 255, .2);
            background-clip: content-box;
        }
    }
}
