@import 'settings/variables';
@import 'tools/functions';
@import 'tools/mixins';
@import 'tools/extends';
@import 'tools/media-queries';
@import 'generic/fields';

/* Atoms */
@import 'atoms/buttons';

/* Organisms */
@import 'organisms/footer';
@import 'organisms/form';

/* Pages */
@import 'pages/demo';
