@import 'settings/variables';
@import 'settings/colors';
@import 'tools/functions';
@import 'tools/mixins';
@import 'tools/media-queries';

/* Atoms */
@import 'atoms/buttons';

/* Molecules */

/* Organisms */
@import 'organisms/footer';

/* Pages */
@import 'pages/demo';
