.billboard {
    background: no-repeat 50%;
    background-size: cover;
    color: $c-white;
    min-height: 80vh;
    position: relative;
    width: 100%;

    &__title {
        font-size: ms(4);

        @include breakpoint($s1024) {
            font-size: ms(4, $msDesktop);
        }
    }

    &::before {
        background: hsla(0, 100%, 0%, .35);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    .u-wrapper {
        position: relative;
        width: 100%;
        z-index: 1;
    }
}
