button,
[role="button"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
    appearance: none;
    background-color: $c-neutro900;
    border: 0;
    color: $c-white;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: space();
    padding: space(.5) space(2);
    text-align: center;
    vertical-align: top;
    width: 100%;

    * { pointer-events: none; }

    &:disabled {
        color: $c-neutro200;
        cursor: default;
    }

    @include breakpoint($s480) { width: auto; }
}
