$form-padding: space(.25);
$form-margin: space(.25);
$form-input-height: space(1.25);

.form {
    button,
    input[type="submit"] {
        padding: $form-padding * 2;
        width: 100%;
    }

    textarea,
    input[type]:not([type=checkbox]):not([type=radio]):not([type=hidden]):not([type=submit]) {
        background: $form-background;
        border: $form-border;
        border-radius: $form-radius;
        box-shadow: $form-shadow;
        padding: $form-padding;

        &[disabled],
        &[readonly] {
            background: $form-background--disabled;
            box-shadow: none;
        }

        &:focus:not(.form__state--invalid) {
            border-color: $form_border--active;
        }

        &.form__state--invalid,
        &.form__state--invalid:focus {
            border-color: $c-error;
            border-width: 2px;
        }
    }

    label,
    legend {
        margin: 0 0 $form-margin;
    }

    select {
        height: $form-input-height;
    }

    &__field {
        &:not(:first-child) { margin: $form-margin 0 0; }

        &--inline {
            &:not(:first-child) { margin: $form-margin 0 0; }

            input[type="checkbox"],
            input[type="radio"] {
                margin: 0 $form-margin 0 0;
            }

            label { margin: 0; }

            label,
            input {
                display: inline;
            }
        }
    }

    &__message {
        &--invalid {
            background-color: lighten($c-error, 35);
            display: block;
            padding: space(.2) space(.5);
        }
    }
}
