<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.6/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="-1" />
        <server name="KERNEL_DIR" value="../app" />
    </php>

    <testsuites>
        <testsuite name="Symfony Test Suite">
            <directory>../src/*/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix="Bundle.php">../src</directory>
            <directory suffix=".php">../src/*/*Bundle/Controller</directory>
            <directory suffix=".php">../src/*/*Bundle/DependencyInjection/Compiler</directory>
            <directory suffix=".php">../src/*/*Bundle/Entity</directory>
            <directory suffix=".php">../src/*/*Bundle/Event</directory>
            <directory suffix=".php">../src/*/*Bundle/Form</directory>
            <directory suffix=".php">../src/*/*Bundle/Repository</directory>
            <directory suffix=".php">../src/*/*Bundle/Service</directory>
            <directory suffix=".php">../src/*/*Bundle/ViewModel</directory>
            <exclude>
                <directory suffix=".php">../src/Application</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
