input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select,
label,
legend {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select,
legend {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
    border-radius: 0;
    vertical-align: bottom;

    &[disabled],
    &[readonly] {
        cursor: not-allowed;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    padding: 0;
}

textarea {
    min-height: 7.5rem;
    resize: vertical;
}

select {
    vertical-align: middle;
}
