// https://fonts.googleapis.com/css?family=Lora|Open+Sans:300,400
@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v12/rAXKWvABQNHjPUk26ixVvvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lora/v12/5-AYViExptypIdFoLKAxTA.woff) format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* Typography */
html, body {
    @include fluid-type($min-font-size, $max-font-size);

    color: $c-neutro900;
    font-family: $t-default;
    font-weight: 400;
    line-height: space();
    text-size-adjust: 100%;
}

/* Headings */
h1, .title1 {
    font-size: ms(4);
    font-weight: 700;
    line-height: 1;
}

h2, .title2 {
    font-size: ms(3);
    line-height: 1.2;
}

h3, .title3 { font-size: ms(2); }
h4, .title4 { font-size: ms(1); }

p, .p-default { font-size: ms(0); }
.p-small { font-size: ms(-1); }

h3, h4 { line-height: 1.5; }

h1, h2, h3, h4 {
    font-family: $t-secondary;
    margin: 0 0 space();
}

b, strong { font-weight: 700; }
i, em { font-style: italic; }

p + p {
    margin: space() 0 0;
}

a {
    color: $c-primary500;
    cursor: pointer;
    text-decoration: underline;
}
