DirectoryIndex app_dev.php

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_deflate.c>
    # Do not compress images, videos or pdfs
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE application/x-font
    AddOutputFilterByType DEFLATE application/x-font-opentype
    AddOutputFilterByType DEFLATE application/x-font-otf
    AddOutputFilterByType DEFLATE application/x-font-truetype
    AddOutputFilterByType DEFLATE application/x-font-ttf
    AddOutputFilterByType DEFLATE application/x-font-woff
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE font/opentype
    AddOutputFilterByType DEFLATE font/otf
    AddOutputFilterByType DEFLATE font/ttf
    AddOutputFilterByType DEFLATE font/woff2
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE image/x-icon
    AddOutputFilterByType DEFLATE image/vnd.microsoft.icon
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE text/x-javascript
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/xml

    <IfModule mod_headers.c>
        # Remove browser bugs (only needed for really old browsers)
        BrowserMatch ^Mozilla/4 gzip-only-text/html
        BrowserMatch ^Mozilla/4\.0[678] no-gzip
        BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
        Header append Vary User-Agent
    </IfModule>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive on

    ExpiresByType image/jpg "access plus 60 days"
    ExpiresByType image/png "access plus 60 days"
    ExpiresByType image/gif "access plus 60 days"
    ExpiresByType image/jpeg "access plus 60 days"
    ExpiresByType image/svg+xml "access plus 60 days"
    ExpiresByType image/x-icon "access plus 60 days"
    ExpiresByType image/vnd.microsoft.icon "access plus 60 days"
    ExpiresByType application/vnd.ms-fontobject "access plus 60 days"
    ExpiresByType application/x-font "access plus 60 days"
    ExpiresByType application/x-font-opentype "access plus 60 days"
    ExpiresByType application/x-font-otf "access plus 60 days"
    ExpiresByType application/x-font-truetype "access plus 60 days"
    ExpiresByType application/x-font-ttf "access plus 60 days"
    ExpiresByType application/x-font-woff "access plus 60 days"
    ExpiresByType font/opentype "access plus 60 days"
    ExpiresByType font/otf "access plus 60 days"
    ExpiresByType font/ttf "access plus 60 days"
    ExpiresByType font/woff2 "access plus 60 days"

    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType video/mp4 "access plus 1 month"
    ExpiresByType video/webm "access plus 1 month"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType text/xml "access plus 1 month"
    ExpiresByType application/rss+xml "access plus 1 month"
    ExpiresByType application/xhtml+xml "access plus 1 month"
    ExpiresByType application/xml "access plus 1 month"

    ExpiresByType text/x-javascript "access plus 1 week"
    ExpiresByType text/javascript "access plus 1 week"
    ExpiresByType application/x-javascript "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType text/css "access plus 1 week"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Remove final slash
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/backoffice
    RewriteRule ^(.*)/$ /$1 [R=301,L]

    # Local images
    # RewriteCond %{REQUEST_URI} \.(jpe?g|gif|png|ico|svg|pdf)$ [NC]
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteRule ^(.*)$ http://www.symfony.com/$1 [QSA,R,L]

    # Symfony
    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^app_dev\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]

    RewriteRule .? %{ENV:BASE}/app_dev.php [L]
</IfModule>
