.sg-section {
    margin: 0 0 space(3);
    min-height: 100vh;
    padding: space(2) 0;

    &__title {
        border: solid #666;
        border-width: 0 0 1px;
        color: #333;
        display: block;
        margin: 0 0 20px;
        padding: 0 0 20px;
        position: relative;
        text-decoration: none;

        &::before {
            color: $c-primary500;
            content: '#';
            left: -25px;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: opacity .1s ease-in-out;

            @include hover { opacity: 1; }
        }
    }

    &__subtitle { margin: 40px 0 20px; }
    &__description { margin: 0 0 20px; }

    &__code {
        background-color: $c-neutro100;
        border: 1px solid $c-neutro200;
        border-radius: 5px;
        box-shadow: 10px 11px 24px -12px rgba(0, 0, 0, .43);
        font-size: 14px;
        height: 280px;
        margin: 40px 0;
        overflow: scroll;
        padding: 0 28px;
        width: 100%;
        code { white-space: pre-wrap; }

        ::-webkit-scrollbar {
            height: 12px;
            width: 12px;
        }
    }
}
