$sidebarWidth: 280px;
$sidebarSmall: 55px;
$logoMaxWidth: 200px;

.sg-sidebar {
    color: $c-white;
    height: 100vh;
    left: 0;
    left: calc(-100% + #{$sidebarSmall});
    overflow: scroll;
    position: fixed;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 1;

    @include breakpoint($s768) {
        background: $c-neutro500;
        left: ($sidebarSmall - $sidebarWidth);
        width: $sidebarWidth;
    }

    &.is-open { left: 0; }

    .t-h2 { margin: 0; }

    &__overlay {
        background-color: rgba($c-black, .1);
        display: none;
        height: 100vh;
        left: 0;
        min-height: 100%;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 0;

        .is-open & { display: block; }
    }

    &__content {
        background: $c-neutro500;
        min-height: 100%;
        opacity: 0;
        padding: space();
        position: relative;
        transition: all .3s ease-in-out;
        z-index: 1;

        .is-open & { opacity: 1; }
    }

    &__logo {
        display: block;
        margin: 0 0 20px auto;

        svg {
            @include get-ratio(350, 56, $logoMaxWidth, 0);

            path { fill: $c-white; }
        }
    }

    &__section {
        color: $c-white;
        font-size: get-rems(21px);
        margin: 0 0 5px;

        &:not(:first-child) { margin: 20px 0 5px; }
    }

    &__link {
        color: $c-white;
        font-size: get-rems(14px);
        font-weight: 400;
        line-height: 1.2;
        padding: 5px 10px;
        text-decoration: none;

        &:hover {
            .non-touch & {
                color: $c-white;
                opacity: .5;
            }
        }
    }

    .hamburger {
        margin-left: auto;
        margin-right: -7px;
        position: absolute;
        right: 20px;
        top: 0;
        z-index: 2;
    }
}
