.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--wrapper-max-width);
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.logo {
    height: 16px;
    display: block;
}

.logo svg {
    height: 100%;
    width: auto;
}

.logo svg path {
    fill: currentcolor;
}

.button {
    background-color: #805ad5;
    padding: 4px 8px;
    text-align: center;
}

.button:hover {
    background-color: #6b46c1;
    color: white;
}
