.wrapper {
    margin: 0 auto;
    max-width: max-content;
    width: 100%;
    padding: 0 1rem;
}

.logo {
    display: block;
    height: 1rem;

    svg {
        height: 100%;
        width: auto;

        path {
            fill: currentcolor;
        }
    }
}

.button {
    background-color: #a453f2;
    text-align: center;
    padding: 0.25rem 0.5rem;

    &:hover {
        color: #fff;
        background-color: #7e21ce;
    }
}
