.button {
    background-color: #0369a1;
    color: white;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    width: auto;
}

.button:hover {
    background-color: #0284c7;
}
