.footer {
    background-color: rgb(23 23 23);
    color: rgb(245 245 245);
    font-size: .875rem;
    line-height: 1rem;
    padding: 1rem 2rem;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    gap: 1rem;

    a {
        color: currentcolor;
    }
}
