.wysiwyg ul {
    list-style-type: disc;
}

.wysiwyg ol {
    list-style-type: decimal;
}

.wysiwyg ul, .wysiwyg ol {
    display: block;
}

.wysiwyg li {
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
}

.wysiwyg li:last-child {
    margin-bottom: 0;
}

.wysiwyg a {
    color: #0284c7;
    text-decoration: underline;
}

.wysiwyg a:hover {
    color: #0369a1;
    text-decoration: none;
}

.wysiwyg em, .wysiwyg i {
    font-style: italic;
}

.wysiwyg table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

.wysiwyg tr:nth-child(even) {
    background-color: white;
}

.wysiwyg tr:nth-child(odd) {
    background-color: #f4f4f5;
}

.wysiwyg td, .wysiwyg th {
    text-align: left;
}

.wysiwyg td {
    padding: 0.5rem 1rem;
}

.wysiwyg th {
    background-color: #475569;
    color: white;
    font-weight: bold;
    padding: 0.75rem 1rem;
}

.wysiwyg p {
    margin: 0;
    margin-bottom: 1rem;
}

.wysiwyg img {
    border: none;
    float: none;
    height: auto;
    width: auto;
    margin: 0;
    margin-bottom: 1rem;
}
