.Header {
    justify-content: space-between;
    padding: space() $g-gutter;

    .Header-logo {
        display: flex;

        svg {
            max-height: 80px;

            path { fill: $c-main; }
        }
    }

    .Header-language {
        li {
            display: inline-block;
            padding-right: 5px;

            &:last-child { padding-right: 0; }

            span { font-weight: bold; }
        }
    }
}
