.Styleguide-container {
    width: 100%;
    @include breakpoint($s960) {
        display: inline-block;
        padding-left: 22vw;
    }
    .hamburger {
        padding: 0;
        position: absolute;
        text-align: right;
        top: space(2); right: space(2);
        z-index: 2;

        @include breakpoint($s960) { display: none; }
        &:hover { cursor: pointer; }
    }
    &:after{
        content: " ";
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(#000, .2);
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.4s;
    }
    .open-nav & {
        &:after { opacity: 1; }
    }
    .Styleguide-version {
        color: #999;
        padding: space(6) space(2) 0;
        text-align: right;
    }
    .Styleguide-content {
        background-color: #fff;
        padding: 0 space(2);

        @include breakpoint($s768) { padding: 0 space(10); }
        @include breakpoint($s1200) { padding: 0 space(15); }
    }
    .Styleguide-title {
        font-size: units(24px);
        padding: space(10) 0 space(6);
    }
    .Styleguide-section { min-height: 100vh; }
    .Styleguide-colorContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: space(3);
        position: relative;
        @include breakpoint($s480) { justify-content: flex-start; }
        @include breakpoint($s768) { display: table-cell; }
        &:after {
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            content: '';
            position: absolute;
            top: 0; right: 0;
            transform: translateY(-33px);
            height: units(18px);
            width: 100%;
            z-index: 0;
        }
    }
    .Styleguide-colorTitle {
        background-color: #fff;
        color: #999;
        display: inline-block;
        font-size: units(18px);
        font-weight: 300;
        margin: 0 0 space(2);
        padding-right: space(1.5);
        position: relative;
        z-index: 1;
    }
    .Styleguide-colorList {
        display: inline-block;
        padding-bottom: space(2);
        vertical-align: top;
        width: 48%;
        @include breakpoint($s480) {
            width: 31%;
            &:not(:last-child) { margin-right: 3.5%; }
        }
        @include breakpoint($s768) {
            width: units(150px);
            &:not(:last-child) { margin-right: space(1.5); }
        }
    }
    .Styleguide-colorItem {
        padding: space();
        &.is-main {
            display: flex;
            align-items: flex-end;
            height: units(150px);
            width: 100%;
            .Styleguide-colorTag { font-size: units(18px); }
        }
        &.is-light {
            .Styleguide-colorTag { color: #000; }
        }
        &:not(:first-child) { border-top: 1px solid #fff; }
        .Styleguide-colorTag {
            color: #fff;
            display: block;
            font-size: units(14px);
            text-align: center;
            width: 100%;
        }
    }
    .Styleguide-typoContent {
        border-bottom: 1px solid #ccc;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: space(5);
        padding: space(5) 0;
        &.is-block { display: block; }
    }
    .bg-gray {
        background-color: #f5f5f5;
        padding: space(3);
    }
    .Styleguide-typoTitle {
        font-size: units(21px);
        .Styleguide-typoSection { color: #999; }
    }
    .Styleguide-typoFont {
        display: flex;;
        flex-wrap: nowrap;
        &:not(:last-child) { margin-right: space(10); }
    }
    .Styleguide-typoEg,
    .Styleguide-typoName {
        display: block;
        line-height: 1;
    }
    .Styleguide-typoEg {
        font-size: units(80px);
        font-weight: 900;
    }
    .Styleguide-typoName {
        font-size: units(24px);
    }
    .Styleguide-typoFontContent:not(:last-child) { margin-right: space(4); }
    .Styleguide-typoFontWeight {
        font-size: units(18px);

        &.is-100 { font-weight: 100; }
        &.is-200 { font-weight: 200; }
        &.is-300 { font-weight: 300; }
        &.is-400 { font-weight: 400; }
        &.is-500 { font-weight: 500; }
        &.is-600 { font-weight: 600; }
        &.is-700 { font-weight: 700; }
        &.is-800 { font-weight: 800; }
        &.is-900 { font-weight: 900; }
    }
    .Styleguide-typoSizeItem {
        &:not(:last-child) { margin-bottom: space(2); }
        @include breakpoint($s1200) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .Styleguide-typoHeading {
        @include breakpoint($s640) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        @include breakpoint($s1200) { width: 75%; }
        span {
            display: block;;
            font-size: units(24px);
            font-weight: 900;
            margin: 0 0 space() 0;
            @include breakpoint($s640) {
                display: inline-table;
                margin: 0 space(3) 0 0;
            }
            @include breakpoint($s1200) {
                margin: 0;
                min-width: units(80px);
            }
        }
    }
    .Styleguide-typoSizeDescription {
        span {
            color: #999;
            display: block;
            font-size: units(14px);
            font-weight: 100;
        }
    }

    .Styleguide-demoContent {
        border-bottom: 1px solid #ccc;
        margin-bottom: space(5);
        padding: space(2) 0;
    }
    .Styleguide-demoCode {
        padding: space(4) 0;
        .t-h5 {
            color: #999;
            padding-bottom: 0;
        }
        pre {
            max-height: units(400px);
            &:not(:last-child) { margin-bottom: space(3); }
        }
    }
}

.Form {
    display: block;
    max-width: units(500px);
    position: relative;
    width: 100%;
    .Form-input {
        border: 1px solid #D0CFCE;
        outline: none;
        padding: space(1.2) space(6) space(1.2) space();
        width: 100%;
        &:focus {
            border: 1px solid #666;
            color: #666;
            transition: 0.35s ease;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                transition: opacity 0.45s ease;
                opacity: 0;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                transition: opacity 0.45s ease;
                opacity: 0;
            }
            &:-moz-placeholder { /* Firefox 18- */
                transition: opacity 0.45s ease;
                opacity: 0;
            }
            &:-ms-placeholder { /* IE 10+ */
                transition: opacity 0.45s ease;
                opacity: 0;
            }
        }
    }
    .Form-button{
        background: #333;
        border: 0;
        color: #fff;
        padding: 0 space();
        position: absolute;
        right: 0; top: 0; bottom: 0;
    }
}
