{% macro icon(icon, class) %}{% spaceless %}
    <span class="u-icon {{ class|default('') }}" aria-hidden="true">
        {% include 'svg/icon-' ~ icon ~ '.svg' %}
    </span>
{% endspaceless %}{% endmacro %}
