parameters:
    locale: en
    xdefault_locale: en
    locales: [en, es, ca]
    container.dumper.inline_class_loader: true
    doctrine_behaviors_translatable_fetch_mode: EAGER
    doctrine_behaviors_translation_fetch_mode: EAGER

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $locales: '%locales%'

    # Autowire
    Sonata\AdminBundle\SonataConfiguration: '@sonata.admin.configuration'
    Jaybizzle\CrawlerDetect\CrawlerDetect: null

    # External services
    Gedmo\Sluggable\SluggableListener:
        calls: [[setAnnotationReader, ['@annotation_reader']]]
        tags: [doctrine.event_subscriber]

    Gedmo\Sortable\SortableListener:
        calls: [[setAnnotationReader, ['@annotation_reader']]]
        tags: [doctrine.event_subscriber]

    # Services
    App\:
        resource: ../src/*
        exclude:
            - ../src/Entity/
            - ../src/Kernel.php

    App\Controller\:
        resource: ../src/Controller
        public: true
        tags: [controller.service_arguments]

    App\Admin\UserAdmin:
        public: true
        arguments: [null, App\Entity\User, null]
        calls: [[setPasswordHasher, ['@security.password_hasher']]]
        tags:
            - { name: sonata.admin, manager_type: orm, label: 'User' }

    App\Security\RolesBuilder\SecurityRolesBuilder:
        bind:
            $rolesHierarchy: '%security.role_hierarchy.roles%'

    App\Service\MailService:
        bind:
            $from: '%env(MAILER_FROM)%'
            $bcc: '%env(json:MAILER_BCC)%'
