parameters:
    locale: en
    xdefault_locale: en
    locales: [en, es, ca]
    container.dumper.inline_class_loader: true
    doctrine_behaviors_translatable_fetch_mode: EAGER
    doctrine_behaviors_translation_fetch_mode: EAGER

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $locales: '%locales%'

    # Autowire
    Sonata\AdminBundle\SonataConfiguration: '@sonata.admin.configuration'
    Jaybizzle\CrawlerDetect\CrawlerDetect: null

    # External services
    Gedmo\Sluggable\SluggableListener:
        calls: [[setAnnotationReader, ['@annotation_reader']]]
        tags: [doctrine.event_subscriber]

    Gedmo\Sortable\SortableListener:
        calls: [[setAnnotationReader, ['@annotation_reader']]]
        tags: [doctrine.event_subscriber]

    # Services
    App\:
        resource: ../src/*
        exclude:
            - ../src/Entity/
            - ../src/Kernel.php

    App\Controller\:
        resource: ../src/Controller
        public: true
        tags: [controller.service_arguments]

    App\Service\MailService:
        bind:
            $from: '%env(MAILER_FROM)%'
            $bcc: '%env(json:MAILER_BCC)%'

    App\Admin\FooEntityAdmin:
        arguments:
            - null
            - App\Entity\FooEntity
            - null
        tags:
            - { name: sonata.admin, manager_type: orm, label: FooEntity }
        public: true

    App\Admin\FooPictureAdmin:
        arguments:
            - null
            - App\Entity\FooPicture
            - null
        tags:
            - { name: sonata.admin, manager_type: orm, label: FooPicture }
        public: true
