<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="" />
        <link rel="stylesheet" href="assets/css/style.min.css" />
    </head>
    <body>
        <header class="Header">
            hola
        </header>
        <section class="Styleguide">
            hola
        </section>
    </body>
</html>
