<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="" />

        <link rel="stylesheet" href="/assets/css/styles.min.css" />
        <link rel="stylesheet" href="/styleguide/assets/libs/prism/prism.css" />
        <link rel="stylesheet" href="/styleguide/assets/css/styles.min.css" />
    </head>
    <body>
        <header class="Styleguide-header">
            <h1 class="Styleguide-headerTitle">Styleguide</h1>
            <ul class="Styleguide-anchors">
                <li><a class="Styleguide-anchorsItem js-anchor active" href="#introduction">Introduction</a></li>
                <li><a class="Styleguide-anchorsItem js-anchor" href="#colors">Colors</a></li>
                <li><a class="Styleguide-anchorsItem js-anchor" href="#typography">Typography</a></li>
                <li><a class="Styleguide-anchorsItem js-anchor" href="#demo">Demo</a></li>
            </ul>
        </header>
        <section class="Styleguide-container">
            <div class="Styleguide-version">
                v.2 20/04/2016
            </div>
            <div class="Styleguide-content">
                <div id="introduction" class="Styleguide-section">
                    <h2 class="Styleguide-title">Introduction</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div id="colors" class="Styleguide-section">
                    <h2 class="Styleguide-title">Colors</h2>
                    <div class="Styleguide-colorContainer">
                        <div class="Styleguide-colorContent">
                            <h3 class="Styleguide-colorTitle">Main</h3>
                            <ul class="Styleguide-colorList">
                                {% for colorsMainBlue in colorsMainBlue %}
                                <li class="Styleguide-colorItem" style="background-color:{{ colorsMainBlue }};">
                                    <span class="Styleguide-colorTag">{{ colorsMainBlue }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                            <ul class="Styleguide-colorList">
                                {% for colorsMainGray in colorsMainGray %}
                                <li class="Styleguide-colorItem" style="background-color:{{ colorsMainGray }};">
                                    <span class="Styleguide-colorTag">{{ colorsMainGray }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="typography" class="Styleguide-section">
                    <h2 class="Styleguide-title">Typography</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div id="demo" class="Styleguide-section">
                    <h2 class="Styleguide-title">Demo</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <pre class="language-markup"><code>
&lt;h1>Hola&lt;/h1>
                </code></pre>

            </div>
        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="assets/libs/prism/prism.js"></script>
        <script>
        $(document).ready(function() {
            $('.js-anchor').on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: $( $.attr(this, 'href') ).offset().top
                }, 500);
                $('.js-anchor').removeClass('active');
                $(this).addClass('active');
            });
        });
        </script>
    </body>
</html>
