{% from 'helpers/macros.html.twig' import icon %}
<div class="cookies-message js-cookies">
    <div class="u-wrapper u-flex u-flex--wrap u-flex--align-center">
        <div class="cookies-message__info u-flex--s768-18 u-flex--s960-20">
            {{ 'cookies.advice'|trans({'%url%': path('runroom.cookies.route.cookies')})|raw }}
        </div>
        <a class="cookies-message__button u-flex--s768-6 u-flex--s960-4 js-cookies-accept" href="#">{{ 'cookies.accept'|trans }}</a>
    </div>
    {{ icon('exit', 'cookies-message__close js-cookies-close') }}
</div>
