version: 1

update_configs:
  - package_manager: php:composer
    directory: /
    update_schedule: live
    automerged_updates:
      - match:
          dependency_type: development
      - match:
          dependency_type: production
          update_type: semver:patch
    allowed_updates:
      - match:
          dependency_type: all
          update_type: all
  - package_manager: javascript
    directory: /
    update_schedule: live
    automerged_updates:
      - match:
          dependency_type: development
      - match:
          dependency_type: production
          update_type: semver:patch
    allowed_updates:
      - match:
          dependency_type: all
          update_type: all
