:80

header {
    Content-Security-Policy "base-uri 'self'; frame-ancestors 'none'; object-src 'none'; upgrade-insecure-requests"
    X-Xss-Protection "1; mode=block"
    X-Frame-Options "SAMEORIGIN"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"
}

route {
    root * /usr/app/public
    header -Server

    php_fastcgi unix//home/app/php-fpm.sock {
        trusted_proxies private_ranges
    }

    file_server
}

log {
    output stdout
}
