{% extends 'base.html.twig' %}

{% block body %}
<div class="Demo">

    <section class="row row-container">
        <div class="columns cols-lg-12">
            <h1>404</h1>
        </div>
    </section>

</div>
{% endblock %}
