{% from 'helpers/macros.html.twig' import icon %}
<div class="bg-neutral-900 text-neutral-100 absolute bottom-0 left-0 w-full js-cookies">
    <div class="wrapper flex flex-wrap items-center p-2">
        <div class="w-full md:w-8/12 xl:w-10/12">
            {{ 'cookies.advice'|trans({'%url%': path('runroom.cookies.route.cookies')})|raw }}
        </div>
        <div class="w-full md:w-4/12 xl:w-2/12">
            <a class="button js-cookies-accept" href="#">{{ 'cookies.accept'|trans }}</a>
        </div>
    </div>
    {{ icon('exit', 'absolute right-3 top-1 icon--small js-cookies-close') }}
</div>
