{% extends 'layouts/section-demo.html.twig' %}

{% block sectionClass 'demo__section' %}

{% block sectionAside %}
    <h2>Modules</h2>
{% endblock %}

{% block sectionContent %}
    <h3>Este es un módulo que puede utilizar un layout</h3>
    <p>Además de utilizarlos en páginas, podemos aprovecharlos en módulos que se reutilizan en distintas páginas.</p>
{% endblock %}
