services:
    app:
        build:
            context: ..
            dockerfile: .docker/Dockerfile
        labels:
            traefik.enable: true
            traefik.http.routers.app.rule: Host(`localhost`)
            traefik.http.routers.app.entrypoints: web
            traefik.http.routers.app-secure.rule: Host(`localhost`)
            traefik.http.routers.app-secure.entrypoints: websecure
            traefik.http.routers.app-secure.tls: "true"
    database:
        image: postgres:18.1-alpine
        environment:
            POSTGRES_DB: symfony
            POSTGRES_USER: symfony
            POSTGRES_PASSWORD: symfony
        ports:
            - 8432:5432
    mailer:
        image: axllent/mailpit
        labels:
            traefik.enable: true
            traefik.http.services.mailer.loadbalancer.server.port: 8025
            traefik.http.routers.mailer.rule: Host(`localhost`)
            traefik.http.routers.mailer.entrypoints: mailer
            traefik.http.routers.mailer.tls: "true"
    traefik:
        image: traefik:v3.6
        ports:
            - 8080:80
            - 8443:443
            - 8425:8025
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./traefik/certs:/certs
            - ./traefik/conf.yml:/etc/traefik/dynamic_conf/conf.yml:ro
        command:
            - --providers.docker=true
            - --providers.docker.exposedbydefault=false
            - --providers.file.directory=/etc/traefik/dynamic_conf
            - --entrypoints.web.address=:80
            - --entrypoints.websecure.address=:443
            - --entrypoints.mailer.address=:8025
