<div class="cookies js-cookies">
    <div class="u-wrapper u-flex--wrap u-flex--alignCenter">
        <div class="cookies__info u-flex--s768-9 u-flex--s960-10">{{ 'cookies.advice'|trans }} <a href="#">{{ 'cookies.link'|trans }}</a></div>
        <a class="cookies__button u-flex--s768-3 u-flex--s960-2 js-cookies-accept" href="#">{{ 'cookies.accept'|trans }}</a>
    </div>
</div>
