<div class="cookies js-cookies">
    <div class="u-wrapper u-flex u-flex--wrap u-flex--align-center">
        <div class="cookies__info u-flex--s768-18 u-flex--s960-20">{{ 'cookies.advice'|trans }}
            <a href="{{ 'cookies_url'|message }}">{{ 'cookies.link'|trans }}</a>
        </div>
        <a class="cookies__button u-flex--s768-6 u-flex--s960-4 js-cookies-accept" href="#">{{ 'cookies.accept'|trans }}</a>
    </div>
</div>
