<div class="Cookies-modal js-cookies">
    <div class="u-wrapper">
        <div class="Cookies-info">{{ 'cookies.advice'|trans }} <a href="#">{{ 'cookies.link'|trans }}</a></div>
        <a class="Cookies-button js-cookiesAccept" href="#">{{ 'cookies.accept'|trans }}</a>
    </div>
</div>
