<div class="Cookies-modal js-cookies">
    <div class="u-wrapper u-flex--wrap u-flex--alignCenter">
        <div class="Cookies-info u-flex--md-9 u-flex--lg-10">{{ 'cookies.advice'|trans }} <a href="#">{{ 'cookies.link'|trans }}</a></div>
        <a class="Cookies-button u-flex--md-3 u-flex--lg-2 js-cookiesAccept" href="#">{{ 'cookies.accept'|trans }}</a>
    </div>
</div>
