<div class="Cookies-modal js-cookies">
    <div class="u-wrapper small">
        <div class="Cookies-info">{{ 'cookies.advice'|trans }} <a href="#" class="gtm-trigger-event" gtm-track-category="Cookies" gtm-track-action="Accept">{{ 'cookies.link'|trans }}</a></div>
        <a class="Cookies-button js-cookiesAccept" href="#">{{ 'cookies.accept'|trans }}</a>
    </div>
</div>
