{% import 'helpers/macros.html.twig' as macros %}

<footer class="Footer">
    <div class="u-wrapper u-flex--center">
        {{ macros.icon('r-runroom') }} &copy; Runroom {{ 'now'|date('Y') }}
    </div>
</footer>
