<footer class="Footer">
    <div class="row row-container row-space row-alignCenter row-justifyCenter">
        {{ macros.icon('r-runroom') }} &copy; Runroom {{ 'now'|date('Y') }}
    </div>
</footer>
