<header class="header">
    <div class="u-wrapper u-flex u-flex--align-start u-flex--justify-between">
        <a class="header__logo" href="/">{% include 'svg/runroom-logo.svg' %}</a>
        <ul class="header__language">
            {% for lang, href in page.alternateLinks %}
            <li>
                {% if locale == lang %}
                <span>{{ lang|upper }}</span>
                {% else %}
                <a href="{{ href }}">{{ lang|upper }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</header>
