<header class="Header row row-container row-alignCenter">
    <div>
        <a href="/">{% include 'svg/runroom-logo.svg' %}</a>
    </div>
    <ul class="Language">
        {% for lang, href in page.alternateLinks %}
        <li>
            {% if locale == lang %}
            <span>{{ lang|upper }}</span>
            {% else %}
            <a href="{{ href }}">{{ lang|upper }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</header>
