.Styleguide-container {
    width: 100%;
    @media #{$s960-up} {
        display: inline-block;
        padding-left: 22vw;
    }

    .Styleguide-version {
        color: $c-neutro;
        padding: space(5) space(3) 0;
        text-align: right;
    }

    .Styleguide-content {
        padding: space(5) space(10);
        @media #{$s1200-up} { padding: space(5) space(15); }
    }

    .Styleguide-title {
        padding-top: space(5);
    }

    .Styleguide-section {
        margin-bottom: space(10);
    }
}
