.Styleguide-header {
    background-color: $c-neutro;
    color: $c-white;
    left:-90vw;
    position: absolute;
    height: 100vh;
    transition: left 0.4s;
    width: 80vw;
    z-index: 1;
    @media #{$s480-up} {
        width: 60vw;
    }
    @media #{$s960-up} {
        background-color: $c-neutro;
        display: inline-block;
        left: 0;
        height: 100%;
        overflow: auto;
        position: fixed;
        width: 25vw;
    }
    .Styleguide-headerTitle {
        padding: space(3) space(2) space() space(2);
        @media #{$s960-up} { padding: space(5) space(2); }
        @media #{$s1024-up} { padding: space(5) space(3); }
        @media #{$s1200-up} { padding: space(5); }
    }
    .Styleguide-anchorsItem {
        display: block;
        margin: space(2) 0;
        padding: 0 space(2);
        position: relative;
        @media #{$s1024-up} { padding: 0 space(3); }
        @media #{$s1200-up} { padding: 0 space(5); }
        &:before {
            background: $c-neutroDark;
            content: '';
            opacity: 0;
            position: absolute;
                top: 0; left: 0; bottom: 0;
            transition: opacity 0.3s ease-in-out,
                        height 0.2s linear;
            height: 0;
            width: 5px;
        }
        &.active { font-weight: bold; }
        &:hover,
        &.active {
            &:before {
                opacity: 1;
                height: 100%;
            }
        }
    }
    .open-nav & { left: 0; }
}
