.Header {
    background-color: gray;
    color: white;
    display: inline-block;
    overflow: auto;
    position: fixed;
    height: 100%;
    width: 22vw;
    .Header-title {
        font-weight: normal;
    }
}
