{% for role, attributes in roles|sort %}
    <li>{{ form_widget(attributes.form, {label: attributes.role_translated, value: attributes.role}) }}</li>
    {% if not attributes.is_granted %}
        <script>
            $('input[value="{{ role }}"]').iCheck('disable');
            $('form').on('submit', function() {
                $('input[value="{{ role }}"]').iCheck('enable');
            });
        </script>
    {% endif %}
{% endfor %}
