.u-align-center { text-align: center; }
.u-align-left { text-align: left; }
.u-align-right { text-align: right; }
.u-uppercase { text-transform: uppercase; }
.u-bold { font-weight: 700; }
.u-italic { font-style: italic; }

.u-list {
    &--item { margin-top: space(.5); }
}
