.u-noscroll { overflow: hidden; }
.u-align-center { text-align: center; }
.u-uppercase { text-transform: uppercase; }
.u-sr-only { @include visually-hidden; }
.u-reading { max-width: get-maxrems($max-reading-width); }

.u-icon {
    display: inline-block;

    svg {
        display: block;
        fill: currentColor;
        height: get-rems(32px);
        width: get-rems(32px);
    }
}
