.u-wrapper {
    max-width: $global-max-width;

    &, &--reading {
        height: 100%;
        margin: 0 auto;
        padding-left: space();
        padding-right: space();
    }

    @include breakpoint($s768) {
        padding-left: space(2);
        padding-right: space(2);
    }

    @include breakpoint-maxwidth {
        padding-left: 0;
        padding-right: 0;
    }

    &--reading {
        max-width: #{$s960};

        @include breakpoint-maxwidth($s960) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &--static {
        max-width: 800px;

        @include breakpoint-maxwidth(800px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
