/**
 * Mantenemos el WYSIWYG como archivo
 * No es una clase que tiene una función fija, es una clase que contiene muchos
 * estilos y en cada proyecto son distintos
 */
.u-wysiwyg {
    ul { list-style: disc; }
    ol { list-style: decimal; }

    ul, ol {
        display: block;

        li {
            margin: 0 0 space(.25) space();

            &:last-child { margin-bottom: 0; }
        }
    }

    a {
        color: $c-primary500;
        overflow-wrap: break-word;
        text-decoration: underline;
        word-wrap: break-word;

        @include hover {
            color: $c-primary600;
        }
    }

    em, i { font-style: italic; }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0;
        padding: 0;
        width: 100% !important;

        tr:nth-child(even) { background: $c-white; }
        tr:nth-child(odd) { background: $c-neutro200; }

        td, th { text-align: left; }
        td { padding: space(.5) space(); }

        th {
            background: $c-primary500;
            color: $c-white;
            font-weight: 700;
            padding: space(.75) space();
        }
    }

    /**
     * Override editor styles
     * Editors allows to put inline styles
     */
    p {
        margin: 0 0 space();
        text-align: left !important;
    }

    img {
        border: 0 !important;
        float: none !important;
        height: auto !important;
        margin: 0 0 space() !important;
        width: auto !important;
    }
}
