name: Build

on:
    push:
        branches-ignore:
            - renovate/**
            - dependabot/**

jobs:
    docker:
        name: Docker
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - uses: docker/setup-buildx-action@v3
            - uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/runroom/archetype-symfony
                  tags: |
                      type=ref,event=branch
                      type=ref,event=pr
                      type=semver,pattern={{version}}
                      type=semver,pattern={{major}}.{{minor}}
                      type=sha
                  # service label needed for Kamal
                  labels: |
                      service=archetype-symfony
            - uses: docker/build-push-action@v5
              with:
                  push: true
                  file: .docker/Dockerfile
                  target: app-prod
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  provenance: false
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
