name: CI

on:
    push:
        branches: [main]
    pull_request:

jobs:
    test:
        name: PHP ${{ matrix.php }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ["8.1"]
        steps:
            - uses: actions/checkout@v3
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none
            - run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
            - uses: ramsey/composer-install@v2
            - run: vendor/bin/phpunit
    docker-prod:
        name: Docker Prod
        runs-on: ubuntu-latest
        env:
            ENV: prod
            RESET_DATABASE: true
        steps:
            - uses: actions/checkout@v3
            - uses: docker/setup-buildx-action@v2
            - run: make pull
            - run: make setup build
            - run: make up
            - run: sleep 2s
              shell: bash
            - run: curl -f http://localhost:8080
    docker-dev:
        name: Docker Dev
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: docker/setup-buildx-action@v2
            - run: make pull
            - run: make setup build
            - run: make up
            - run: make provision
            - run: curl -f http://localhost:8080
