name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.4', '8.0']
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
      - run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
      - id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-
      - if: matrix.php == '8.0'
        run: composer install --prefer-dist --no-progress --no-interaction --no-scripts --ignore-platform-req=php
      - if: matrix.php != '8.0'
        run: composer install --prefer-dist --no-progress --no-interaction --no-scripts
      - run: vendor/bin/phpunit
