name: ci

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.3']
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php }}
      - uses: actions/cache@v1
        with:
          path: vendor
          key: ${{ runner.os }}-${{ matrix.php }}-composer
      - run: composer install --prefer-dist --no-progress --no-interaction --no-scripts
      - run: vendor/bin/phpunit
  qa-php:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.3']
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php }}
      - uses: actions/cache@v1
        with:
          path: vendor
          key: ${{ runner.os }}-${{ matrix.php }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.php }}-composer-
      - run: composer install --prefer-dist --no-progress --no-interaction --no-scripts
      - run: vendor/bin/php-cs-fixer fix --ansi --verbose --diff --dry-run
      - run: vendor/bin/phpstan analyse src tests --no-progress --level=5
  qa-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['12.x']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ matrix.node }}-node_modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node }}-node_modules-
      - run: yarn
      - run: yarn stylelint assets/scss
      - run: yarn eslint assets/js
      - run: yarn encore production
  deploy:
    runs-on: ubuntu-latest
    needs: [build, qa-php, qa-node]
    strategy:
      matrix:
        php: ['7.3']
    env:
      DEPLOYER_USER: ${{ secrets.DEPLOYER_USER }}
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php }}
      - uses: actions/cache@v1
        with:
          path: vendor
          key: ${{ runner.os }}-${{ matrix.php }}-composer
      - run: composer install --prefer-dist --no-progress --no-interaction --no-scripts
      - uses: webfactory/ssh-agent@v0.2.0
          with:
            ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - run: vendor/bin/dep deploy development -vv
