name: Deploy

on:
    push:
        branches: [main]

jobs:
    production:
        name: Production
        runs-on: ubuntu-latest
        environment: Production
        concurrency: Production
        strategy:
            matrix:
                php: ["8.1"]
        env:
            DEPLOYER_USER: ${{ secrets.DEPLOYER_USER }}
        steps:
            - uses: actions/checkout@v3
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none
            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x
            - uses: ramsey/composer-install@v2
            - uses: bahmutov/npm-install@v1
            - run: npm run build
            - shell: bash
              run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
              id: extract_branch
            - uses: deployphp/action@v1
              with:
                  private-key: ${{ secrets.SSH_PRIVATE_KEY }}
                  known-hosts: ${{ secrets.KNOWN_HOSTS }}
                  dep:
                      deploy ${{ secrets.HOST }} --branch=${{ steps.extract_branch.outputs.branch }}
                      --no-interaction -vv
