name: Deploy

on:
    workflow_dispatch:
        inputs:
            environment:
                required: true
                type: string
            tag:
                required: true
                type: string
    workflow_call:
        inputs:
            environment:
                required: true
                type: string
            tag:
                required: true
                type: string

jobs:
    deploy:
        name: ${{ inputs.environment }}
        runs-on: ubuntu-latest
        environment:
            name: ${{ inputs.environment }}
            url: ${{ steps.deployment.outputs.url }}
        concurrency: ${{ inputs.environment }}
        # Needed to connect to ghcr.io registry
        permissions:
            contents: read
            packages: read
        steps:
            - uses: actions/checkout@v6
            - run: |
                  curl -sSL https://github.com/bitwarden/sdk-sm/releases/download/bws-v1.0.0/bws-x86_64-unknown-linux-gnu-1.0.0.zip -o bws.zip

                  unzip bws.zip
                  sudo mv bws /usr/local/bin/

                  rm bws.zip
            - run: |
                  bws secret list ${{ secrets.BWS_PROJECT_ID }} --output=env > .kamal/secrets.${{ inputs.environment }}
              env:
                  BWS_ACCESS_TOKEN: ${{ secrets.BWS_ACCESS_TOKEN }}
            - uses: shimataro/ssh-key-action@v2
              with:
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  known_hosts: ${{ secrets.KNOWN_HOSTS }}
            - uses: ruby/setup-ruby@v1
              with:
                  ruby-version: "3.4.8"
                  bundler-cache: true
            - run: gem install kamal -v 2.4.0
            - run: make deploy
              env:
                  KAMAL: kamal # Use the kamal binary installed in the previous step
                  DESTINATION: ${{ inputs.environment }}
                  VERSION: ${{ inputs.tag }}
                  SSH_HOST: ${{ secrets.SSH_HOST }}
                  SSH_PORT: ${{ secrets.SSH_PORT }}
                  SSH_USER: ${{ secrets.SSH_USER }}
                  DOCKER_USERNAME: ${{ github.repository_owner }}
                  DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
            - id: deployment
              run: |
                  echo "url=${{ vars.DEPLOYMENT_URL }}" >> $GITHUB_OUTPUT
