name: qa

on:
  push:
    branches: [master]
  pull_request:

jobs:
  php:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.3']
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
      - id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.php }}-composer
      - run: composer install --prefer-dist --no-progress --no-interaction --no-scripts
      - run: composer normalize --dry-run
      - run: composer php-cs-fixer -- --diff --dry-run
      - run: composer phpstan
  node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['12.x']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.node }}-yarn
      - run: yarn install --frozen-lockfile
      - run: yarn stylelint assets/scss
      - run: yarn eslint assets/js
      - run: yarn encore production
