name: QA

on:
    push:
        branches: [main]
    pull_request:

jobs:
    php:
        name: PHP ${{ matrix.php }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ["8.3"]
        env:
            APP_ENV: test
        steps:
            - uses: actions/checkout@v6
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none
                  tools: cs2pr
            - uses: ramsey/composer-install@v3
            - run: composer php-cs-fixer -- --dry-run --format=checkstyle | cs2pr
            - run: composer phpstan
            - run: composer psalm -- --threads=$(nproc) --output-format=github
            - run: composer rector -- --dry-run
            - run: composer normalize --dry-run
            - run: composer lint-container
            - run: composer lint-yaml
            - run: composer lint-twig
    node:
        name: Node ${{ matrix.node }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node: ["20.x"]
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v5
              with:
                  node-version: ${{ matrix.node }}
            - uses: bahmutov/npm-install@v1
            - run: npm run lint
            - run: npm run build
