.u-flex { display: flex; }
.u-flex--inline { display: inline-flex; }
.u-flex--alignCenter { align-items: center; }
.u-flex--alignStart { align-items: flex-start; }
.u-flex--alignEnd { align-items: flex-end; }
.u-flex--justifyCenter { justify-content: center; }
.u-flex--justifyStart { justify-content: flex-start; }
.u-flex--justifyEnd { justify-content: flex-end; }
.u-flex--justifyBetween { justify-content: space-between; }
.u-flex--justifyAround { justify-content: space-around; }
.u-flex--reverse { flex-direction: row-reverse; }

.u-flex--column {
    flex-direction: column;

    &.u-flex--reverse { flex-direction: column-reverse; }
}

.u-flex--wrap {
    display: flex;
    flex-wrap: wrap;
}

.u-flex--center {
    align-items: center;
    display: flex;
    justify-content: center;
}

@function get-column-percentage($column-num) {
    @return $column-num / $grid-columns * 100%;
}

@each $val in $breakpoints {
    $namespace: nth($val, 1);
    $breakpoint: nth($val, 2);

    @include breakpoint($breakpoint) {
        .u-flex--#{$namespace} { display: flex; }

        .u-flex--#{$namespace}-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .u-flex--#{$namespace}-wrap {
            display: flex;
            flex-wrap: wrap;
        }
    }

    @for $i from 1 through $grid-columns {
        .u-flex--#{$namespace}-#{$i} {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
}

@each $val in $breakpoints {
    $namespace: nth($val, 1);
    $breakpoint: nth($val, 2);

    @include breakpoint($breakpoint) {
        @for $i from 1 through $grid-columns {
            .u-flex--#{$namespace}-#{$i} {
                flex-basis: get-column-percentage($i);
                max-width: get-column-percentage($i);
            }
        }
    }
}
