@import "flex-grid";

.u-clearfix { @include clearfix; }
.u-fullwidth { width: 100%; }
.u-uppercase { text-transform: uppercase; }
.u-videoFullWidth { @include videoFullWidth; }
.u-center { margin: 0 auto; }

.u-text--1 { @include type-setting(-1); }
.u-text-0 { @include type-setting(0); }
.u-text-1 { @include type-setting(1); }
.u-text-2 { @include type-setting(2); }
.u-text-3 { @include type-setting(3); }
.u-text-4 { @include type-setting(4); }

.u-fullheight {
    height: auto;
    min-height: 100%;
}

.u-icon {
    @include square(32px);

    fill: currentColor;
}

.u-wrapper {
    margin: 0 auto;
    max-width: $global-max-width;
    padding-left: space();
    padding-right: space();
    position: relative;

    @include breakpoint($s768) {
        padding-left: space(2);
        padding-right: space(2);
    }

    @media screen and (min-width: $global-max-width + get-pxs(space(2) * 2)) { padding: 0; }

    &.is-collapse {
        padding-left: 0;
        padding-right: 0;
    }

    &.is-small { max-width: 1200px; }
    &.is-reading { max-width: 960px; }
}

.u-wysiwyg {
    h1, h2, h3, h4, h5, h6 {
        @extend .t-h5;

        padding: 0 0 space();
    }

    a {
        border-bottom: 1px solid $c-main;
        color: $c-main;

        &:hover { opacity: .75; }
    }

    p, img, .u-table, .u-videoFullWidth, ul, ol {
        & + h1, & + h2, & + h3,
        & + h4, & + h5, & + h6 {
            padding-top: space(2);
        }
    }

    ul, ol {
        display: block;
        margin: 0 0 space() space();
        padding: 0 0 0 space();

        @include breakpoint($s960) { font-size: get-rems(18px); }
    }

    ul { list-style: disc; }
    ol { list-style: decimal; }

    li {
        @include fluid-type($global-min-font, $global-max-font);

        margin: 0 0 space(.5);
    }

    img {
        display: block;
        height: auto !important;
        max-width: 100%;
    }

    img,
    .u-table,
    .u-videoFullWidth {
        margin: 0 auto space(1.5);

        @include breakpoint($s960) { margin: 0 auto space(3.5); }
    }

    p {
        & + img,
        & + p img,
        & + .u-table,
        & + .u-videoFullWidth {
            margin-top: space();

            @include breakpoint($s960) { margin-top: space(2); }
        }
    }

    ul, ol {
        & + img,
        & + .u-table,
        & + .u-videoFullWidth {
            margin-top: space();

            @include breakpoint($s960) { margin-top: space(2); }
        }
    }
}
