{% set content = {
    layout: {
        title: "Layout",
        sections: {
            Breakpoints: 'Breakpoints',
            Grid: "Grid"
        }
    },
    generic: {
        title: "Estilos genéricos",
        sections: {
            Breadcrumbs: "Breadcrumbs",
            Buttons: "Buttons",
            Colors: "Colors",
            Headings: "Headings",
            Paragraphs: "Paragraphs",
            Links: "Links",
            Wysiwyg: "Wysiwyg"
        }
    },
    app: {
        title: "Estilos de la app",
        sections: {}
    }
} %}

<aside class="sg-sidebar" id="navigation">
    {{ include('components/hamburger.html.twig', {class: 'js-menu', target: '#navigation'}) }}
    <div class="sg-sidebar__content">
        <div class="u-flex u-flex--align-center">
            <span class="t-h2">Styleguide</span>
        </div>
        <div class="u-hiddenScroll">
            <div class="u-hiddenScroll-content">
                <a class="sg-sidebar__logo" href="#"></a>
                {% for section in content %}
                    {% if section.sections is not empty %}
                    <h2 class="sg-sidebar__section">{{ section.title|capitalize }}</h2>
                    <ul class="sg-sidebar__nav">
                        {% for key, element in section.sections %}
                        <li class="sg-sidebar__item"><a class="sg-sidebar__link" href="#{{ key }}">{{ element }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</aside>
